@mixin fullscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
}

#fake-loading{
    @include fullscreen;
    max-height: 2000px;
    background-color: #e6e0e0;
    transition: .8s;
    .title-wrap {
        font-size: 16px;
        opacity: 0;
        transition: .4s;
    }
    &.on{
        .title-wrap {
            font-size: 40px;
            opacity: 1;
        }
    }
    &.off{
        max-height: 0;
        overflow: hidden;
    }
}